@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('ttf'),
        url('../fonts/Gilroy-Regularr.eot') format('eot');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('ttf'),
        url('../fonts/Gilroy-Semibold.eot') format('eot');
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

*::selection {
    background-color: #bf2727;
    color: white;
}

figure {
    margin: 0;
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'CenturyGothic', sans-serif;
}

input:invalid {
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
    color: transparent;
}

input::-webkit-clear-button {
    display: none;
}

select::-ms-expand {
    display: none;
}

textarea {
    overflow: hidden;
}

button {
    margin: 0;
    padding: 0;
}

section:focus,
div:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Gilroy', 'Aril', sans-serif;
    color: #999;
}