.owl-nav {
    display: flex;

    @media screen and (max-width: 1330px) {
        display: none;
    }
}

.owl-prev,
.owl-next {
    display: block;
    width: 44px;
    height: 44px;

    cursor: pointer;
    background: #fff url(../img/arrow.svg) center no-repeat;
    background-size: 20px 20px;
    transition: .1s;

    border-radius: 10px;
    border: 1px solid #E5E5E5;

    margin-right: 10px;

    &:hover {
        background-color: #F0F0F0;
    }

    &:active {
        border: 1px solid #fff;
    }

    &:last-child {
        margin-right: 0;
    }

    span {
        display: none;
    }
}

.owl-prev {
    transform: rotate(180deg);
}

.owl-dots {
    display: none;

    padding-top: 30px;

    @media screen and (max-width: 1330px) {
        display: block;
    }

    .owl-dot { 
        border: none;
        outline: none;

        background: transparent;

        margin: 5px;

        span {

            display: block;
            width: 7px;
            height: 7px;

            border-radius: 50px;

            background-color: #e2e2e2;

        }

        &.active span {
            background-color: #C4C4C4;
        }
    }
}